@import "../../styles/helpers/variables";
input{
    border: none;
    outline:none;
}
@mixin font ($font-weight, $font-size, $line-height, $letter-spacing, $color, $font-family) {
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    font-family: $font-family;
}
.doc__input{
    position: absolute;
    top: 18px;
    left: 72px;
    @include font ($font-weight, $font-size, 1.43, normal, $dark-col, $font-family);
    width: 290px;
    padding: 0;
}
.doc__input:hover{
    border-bottom: 1px solid #ff9000;
}