.svg-icon{
    max-width: 100%;
    max-height: 100%;
    fill: currentColor;
    border-radius: inherit; 
}
.doc__img{
    width: 16px;
    height: 16px;
}
.doc__doc-img{
    width: 36px;
    height: 48px;
}
.doc__edition-img{
    width: 16px;
    height: 16px;
}
.button__img{
    height: 16px;
}
.doc__doc-mark{
    width: 16px;
    height: 16px;    
}
.doc__img-change{
    width: 16px;
    height: 16px;    
}
.doc__download-img{
    width: 16px;
    height: 16px;    
}
.upload__img{
    width: 24px;
    height: 24px;   
    margin-left: 222px;
    margin-right: 5px;
}
.add-button__img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}